*{
    background-color: var(purple);
    color:beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

wrapper {
    display:flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}
.scores {
    text-decoration: none;
    color: ;
    font-weight: bold;
    font-family: serif;
    text-align: center;

.hide {
    display: none;
    text-align:center;
}

.button {

    display: flexbox;
    justify-content: center;
    color: purpl;
    color: white;
}

.startScreen {
    width: 800px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    button:hover {
        border: 1px solid  #c2cae8;
        border-radius:  10px;
        font-size: large;
        font-weight: bold;
        background-color: #c2cae8;
        color: #0e9594;
    }
    
    
    #start:hover {
        border: 5px solid  #c2cae8;
        border-radius:  10px;
        font-size: large;
        font-weight: bold;
        background-color: #c2cae8;
        color: #0e9594;
    }
    
    #highscore:hover {
        border: 5px solid  #c2cae8;
        font-size: large;
        font-weight: bold;
        background-color: #0e9594;
        color: #c2cae8;
    }