*{
    
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

wrapper {
    display:flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}
.scores {
    text-decoration: none;
    color: ;
    font-weight: bold;
    font-family: serif;
    text-align: center;

.hide {
    display: none;
    text-align:center;
}

.button {

    display: flexbox;
    justify-content: center;
    color: purpl;
    color: white;
}

.startPage {
    width: 800px;

}